body {
    background: #EEE;
    font-size: 12pt;
    line-height: 1.4em;
    font-family: "DejaVu Sans", "微软雅黑", Arial, Helvetica, sans-serif;
}
header, section {
    margin: 20pt;
}
pre, code {
    font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
}
.emoji {
    height: 1.3em;
    vertical-align: middle;
}
#editor {
    margin: auto;
    padding: 10pt 20pt;
    max-width: 860px;
    box-shadow: 0 1px 4px #666;
    background: #FAFAFA;
}
#editor blockquote,
#editor pre {
    margin: 10pt;
    padding: 10pt;
    border: 1px solid #666;
}
#editor blockquote {
    border-left-width: 10px;
}
#editor p {
    border-bottom: 1px solid #999;
}
#editor table,
#editor th,
#editor td {
    border: 1px solid #666;
    border-collapse: collapse;
    padding: 5pt;
}

#qunit-userAgent {
    text-shadow: none;
}
#qunit-header {
    background-color: transparent;
    z-index: 10;
    height: 50px;
    box-sizing: border-box;
}
#qunit-header a {
    color: #fff;
}
#qunit-banner {
    margin-top: -50px;
    height: 50px;
}
#qunit-tests .qunit-assert-list li{
    line-height: 1em;
    font-family: "DejaVu Sans Mono", "Courier New", Courier, monospace;
}
