@charset "utf-8";

body {
	background-color: #333;
	font-family: 'DejaVu Sans', "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Noto Sans CJK SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif, 'Segoe UI', EmojiSymbols, Symbola;
	margin: 0;
	transition: background-image 2s ease;
}

#bizzarebg {
	position: absolute;
	width: 100%;
	height: 150%;
	left: 0;
	top: 0;
	background-image: radial-gradient(at bottom, rgba(0,0,0,0),rgba(0,0,0,0.7));
	z-index: -10;
}

body > section {
	box-sizing: border-box;
	min-height: 90vh;
	max-width: 800px;
	margin: 5vh auto;
	padding: 20pt 30pt;
	perspective: 500;
	-webkit-perspective: 500;
}

#s1 h1, #s1 .subtitle {
	font-family: 'DejaVu Serif', 'Times New Roman', Times, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", serif;
}


/* misc */

ol.footnote {
	counter-reset: o-counter 0;
	list-style-type: none;
	font-size: 85%;
}

ol.footnote li {
	position: relative;
}

ol.footnote li:before {
	position: absolute;
	content: '[' counter(o-counter) '] ';
	counter-increment: o-counter;
	right: 100%;
	padding-right: .5em;
}

.emoji {
	height: 1em;
	vertical-align: middle;
}
.hide {
	opacity: 0!important;
}
a {
	color: #04c;
}
hr {
	outline: none;
	border: none;
	border-top: 2px solid rgba(0, 0, 0, 0.5);
}

code, pre {
	padding: 3px 5px;
	margin: 0 3px;
	background: #FEFEFE;
	color: #333;
	font-family: 'DejaVu Sans Mono', Consolas, 'Courier New', Courier, monospace;
	font-size: .8em;
	border-radius: 5px;
}

blockquote {
	background: #FAFAFA;
	border-left: 10px solid #bbb;
	margin: 10pt;
	padding: 20pt;
}

/* section 1 */
#s1 > h1 {
	transition: 1s ease;
	text-shadow: 0 2px 5px #222;
	font-size: 50pt;
	color: #FAFAFA;
	text-align: center;
	margin: 0;
	margin-bottom: .5em;
}
#s1 > h1:before {
	display: block;
	content: ' ';
	height: 10vh;
	min-height: .83em;
}
#s1 > .subtitle {
	transition: 1s ease;
	transition-delay: .2s;
	color: #aaa;
	text-align: center;
	font-weight: bold;
	margin: 0;
}
#s1 > nav {
	text-align: center;
	transition: 1s ease;
	margin-top: .5em;
	height: 8vh;
	min-height: 30pt;
}
#s1 > nav.hide {
	transform: translateY(-20px);
}
#s1 > nav > a {
	background: #444;
	padding: 2pt 8pt;
	border-radius: 5pt;
	display: inline-block;
	margin: 3pt;
	text-decoration: none;
	color: #aaa;
	font-size: 87%;
	transition: .3s ease;
}
#s1 > nav > a:focus, #s1 > nav > a:hover {
	background: #ccc;
	color: #333;
}
#editor {
	outline: none !important;
	box-shadow: 0 2px 10px #333;
	background: #eee;
	min-height: 15em;
	padding: 5pt 10pt;
	
	opacity: 0.6;
	transition: 1s cubic-bezier(.3, 0, .3, 1.6);
}
#editor:focus, #editor:active, #editor:hover {
	opacity: 1;
	transition: .5s ease;
}
#editor.hide {
	transform: translateY(-60px) rotateX(5deg) scale(.95);
	opacity: 0!important;
}
#editor p {
	margin: 5pt 0;
}
@media(max-width: 600px) {
	#s1 > h1 {
		font-size: 24pt;	
	}
	#s1 > nav {
		height: auto;
		margin-bottom: 10pt;
	}
}

/* toc */
#toc {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 300px;
	padding: 10px;
	color: #fff;
	box-sizing: border-box;
	overflow-y: auto;
}
#toc a {
	display: block;
	text-decoration: none;
	color: #ccc;
	padding: 5px;
}
#toc a:hover {
	color: #fff;
}

/* section 2 */
#s2 {
	position: relative;
	background-color: #eee;
	line-height: 1.5;
	font-size: 14pt;
	margin-bottom:0;
	max-width:100%;
}
#toc {
	display: none;
}
@media(min-width: 1100px) {
	#s2 {
		margin-left: 300px;
	}
	#toc {
		display: block;
	}
}

#s2 a {
	color: #06c;
}

#s2 h2 {
	position: relative;
}
#s2 h2:before {
	display: block;
	background: #2994B2;
	content: ' ';
	position: absolute;
	right: 100%;
	top: -.2em;
	height: 1.4em;
	width: 10pt;
	margin-right: 10pt;
}

#bookmarklet {
	font-size: 0;
}
#bookmarklet:before {
	content: 'Magic Bookmarklet! ';
	font-size: 14pt;
}

.button {
	background: rgba(255,180,0,0.6);
	color: #000!important;
	text-decoration: none;
	padding: 10pt 30pt;
	display: inline-block;
}
.button:hover,.button:active,.button:focus {
	background: #FFB400;
}
